<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="Letter" packages="">
  <Appenders>
    <RollingRandomAccessFile name="RollingFile"
                             fileName="letter-alog/${server.name}.log"
                             filePattern="letter-alog/${server.name}_%d{yyyy-MM-dd_HH}.log.gz">
      <PatternLayout pattern="%d{MMdd HH:mm:ss,SSS}:%c{1}:%L %msg%n" />
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="log/" maxDepth="1">
          <IfFileName glob="${server.name}_raw_*"/>
          <IfLastModified age="12H" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>
    <Async name="AsyncFile">
      <AppenderRef ref="RollingFile"/>
    </Async>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{MMdd HH:mm:ss,SSS}:%c{1}:%L %msg%n" />
    </Console>
    <Async name="AsyncConsole">
      <AppenderRef ref="Console"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="AsyncFile" />
      <AppenderRef ref="AsyncConsole" />
    </Root>
  </Loggers>
</Configuration>